/* General style */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    color: #e6e6e6;
    background: linear-gradient(45deg, #ff9a9e, #fcb69f, #ff9966, #ff5e62, #3a1c71, #16a085, #f4d03f, #3498db);
    background-size: 400% 400%;
    animation: colorChange 30s ease infinite;
}

/* Animate background gradient with different bright colors */
@keyframes colorChange {
    0% {
        background-position: 0% 50%;
        background-color: #ff9a9e;
    }

    14% {
        background-position: 50% 100%;
        background-color: #fcb69f;
    }

    28% {
        background-position: 100% 50%;
        background-color: #ff9966;
    }

    42% {
        background-position: 50% 0%;
        background-color: #ff5e62;
    }

    56% {
        background-position: 0% 50%;
        background-color: #3a1c71;
    }

    70% {
        background-position: 50% 100%;
        background-color: #16a085;
    }

    84% {
        background-position: 100% 50%;
        background-color: #f4d03f;
    }

    100% {
        background-position: 50% 0%;
        background-color: #3498db;
    }
}

/* container */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Clock */

.clock {
    font-size: 80px;
    line-height: 1.2;
    text-align: center;
    transition: all 0.1s ease;
    color: #fff;
    text-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Deep shadow effect for text */
.clock::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.2);
    filter: blur(15px);
    z-index: -1;
}